body {
  background: linear-gradient(-45deg, #0E95E1 20%, #EAB234 80%);
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1 {
  font: 72px 'Oswald', Arial, sans-serif;
  margin: 50px 0;
  text-align: center;
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 10px;
}

.container {
  margin: 0 auto;
  width: 95%;
  text-align: center;
}

.display {
  border: none
}

input {
  margin : 75px auto;
  margin-top: 0;
  display: block;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 24px;

}

input:focus {
  outline:none;
}

@media (min-width: 900px) {
  input {
    font-size: 32px;
  }
  .container {
    width: 65%;
  }

}
@media (min-width: 600px) {
  .container {
      width: 75%;
  }
}
